PORT=4000
DB_DIR=/app/data

FRONTEND_URL=https://whacky-cactus-playlist.ngrok-free.dev
APP_URL=https://whacky-cactus-playlist.ngrok-free.dev

VITE_API_BASE_URL=https://TU_BACKEND_NGROK_URL/api

JWT_SECRET=CAMBIA_ESTO_POR_UNA_CLAVE_MUY_LARGA_Y_ALEATORIA

INITIAL_ADMIN_EMAIL=admin@torrelameu.cat
INITIAL_ADMIN_PASSWORD=Admin123
INITIAL_ADMIN_NAME=Administrador

GOOGLE_CLIENT_ID=493244742528-ciukspt5ndleu6mtupvap048a3etmquj.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=493244742528-ciukspt5ndleu6mtupvap048a3etmquj.apps.googleusercontent.com

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=marccunillera2006@gmail.com
MAIL_PASS=vqwb zhej amdd pawu
MAIL_FROM="Pàdel Torrelameu <marccunillera2006@gmail.com>"