# ─────────────────────────────────────────────
# Aplicación
# ─────────────────────────────────────────────

PORT=4000
DB_DIR=/app/data

# URL frontend
FRONTEND_URL=http://localhost:3003

# URL API para Vite
VITE_API_BASE_URL=http://localhost:4000/api

# ─────────────────────────────────────────────
# JWT
# ─────────────────────────────────────────────

JWT_SECRET=CAMBIA_ESTO_POR_UNA_CLAVE_MUY_LARGA_Y_ALEATORIA

# ─────────────────────────────────────────────
# Administrador inicial
# Solo se usa si la base de datos está vacía
# ─────────────────────────────────────────────

INITIAL_ADMIN_EMAIL=admin@torrelameu.cat
INITIAL_ADMIN_PASSWORD=Admin123
INITIAL_ADMIN_NAME=Administrador

# ─────────────────────────────────────────────
# Google OAuth
# ─────────────────────────────────────────────

GOOGLE_CLIENT_ID=493244742528-ciukspt5ndleu6mtupvap048a3etmquj.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=493244742528-ciukspt5ndleu6mtupvap048a3etmquj.apps.googleusercontent.com

# ─────────────────────────────────────────────
# Correo SMTP (Gmail)
# ─────────────────────────────────────────────

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false

MAIL_USER=marccunillera2006@gmail.com

# Contraseña de aplicación de Google
# NO la contraseña normal
MAIL_PASS=vqwb zhej amdd pawu

MAIL_FROM="Pàdel Torrelameu <marccunillera2006@gmail.com>"

# URL pública de la aplicación
APP_URL=http://localhost:3003