PORT=4000

JWT_SECRET=PadelTorrelameu2026

DB_DIR=/app/data

# En local: http://localhost:3003
FRONTEND_URL=http://localhost:3003

INITIAL_ADMIN_EMAIL=admin@torrelameu.cat
INITIAL_ADMIN_PASSWORD=admin123
INITIAL_ADMIN_NAME=Administrador